<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about">
                    <div class="logo">
                        {% load static %}
                        <img style="max-width: 45%; height: auto;" src="{% static 'assets/images/logo-black.png' %}"
                            alt="Plot Listing">
                    </div>
                    <p style="color: rgb(0, 0, 0);
                    line-height: 30px;
                    font-size: 25px;
                    font-weight: 800;
                    margin-left: 4px;
                    text-transform: capitalize;">Data Pipeline Solutions</p>
                    <p style="color: rgb(0, 0, 0);
                    line-height: 30px;
                    font-size: 25px;
                    font-weight: 800;
                    margin-left: 4px;
                    text-transform: capitalize;">My Brillient Jobs</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="helpful-links">
                    <h4>Helpful Links</h4>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li><a href="/">團隊成員</a></li>
                                <li><a href="/">成果簡報</a></li>
                                <li><a href="/">視覺呈現</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-us">
                    <h4>Contact Us</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <a>010-020-0340</a>
                        </div>
                        <div class="col-lg-6">
                            <a>DPSMBJ@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>Copyright © 2022 BDSE28 Group 5. All Rights Reserved.
                        <br>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>